<!-- Include header partials so that styling can be applied using bootstrap. -->
<%- include("partials/header") %>

<body>

    <!-- Add header to link Home page and Logout. -->
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/products" class="nav-link px-2 text-white">Home</a></li>
                </ul>
                <div class="text-end">
                    <a class="btn btn-outline-light me-2" href="/logout" role="button" name="buyer" value="buyer">Logout</a>
                </div>
            </div>
        </div>
    </header>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <!-- Check if products array is empty or not. -->
            <!-- If array is not empty then show all the products. -->
            <% if (products) { %>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- Loop through each product and show its details. -->
                    <% products.forEach(product => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                              <h5 class="card-title ms-3"><%= product.title %></h5>
                              <div class="card-body">
                                <p class="card-text"><%= product.description %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <small class="text-body-secondary">Price: $<%= product.selling_price %></small>
                                  <!-- Add two buttons to update and delete the product. -->
                                  <div class="btn-group">
                                    <a class="btn btn-primary" href="/seller/products/update/<%= product._id %>" role="button">Update</a>
                                    <a class="btn btn-danger" href="/seller/products/delete/<%= product._id %>" role="button">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
      </div>
      <!-- Add button to add new product. -->
      <div class="text-center my-5">
        <a class="btn btn-secondary" href="/seller/products/add" role="button">Add Product</a>
      </div>
</body>
</html>